{{range .CatalogImages}}
<div class="image-card">
    <a href="/archive/{{$.CatalogName}}/{{.filename}}" data-toggle="viewer" data-title="{{if .short_name}}{{.short_name}}{{else}}{{.filename}}{{end}}">
        <img src="/archive/{{$.CatalogName}}/{{.filename}}"
             alt="{{if .short_name}}{{.short_name}}{{else}}{{.filename}}{{end}}"
             style="max-width: 100%; height: auto;"/>
    </a>
    <div class="image-info">
        <div class="image-title">{{if .short_name}}{{.short_name}}{{else}}{{.filename}}{{end}}</div>
        <div class="image-description">{{.description}}</div>
    </div>
</div>
{{end}}